<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url('serviceman_index') }}">Strona główna</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url("serviceman_damagereports") }}">Przyjęte zgłoszenia awarii</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url("serviceman_servicereports") }}">Przyjęte zlecenia przeglądu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Przyjęte zlecenia przewozu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url('user_logout') }}">Wyloguj się</a>
    </li>
</ul>